<!--home.handlebars-->
<link rel="stylesheet" href="/css/home.css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap"
    rel="stylesheet"
/>
<h1>{{company.name}}</h1>
<div style="display:inline-block; float: right; width: 50%;">
<span><img class="grid-image" src={{company.logoUrl}} /></span>
</div>
<div style="display:inline-block; width: 45%;">
    <h2>Menus</h2>
    <div
        style="display: flex; flex-direction:column; align-content:start; align-items: center;"
    >
        {{#each menus}}
            <div style="width:80%; align-items:start;">
                <li>{{this.title}}</li>
            </div>
        {{/each}}

    </div>

    <h2>Locations</h2>
    <div
        style="display: flex; flex-direction:column; align-content:start; align-items: center;"
    >
        {{#each locations}}
            <div style="width:80%; align-items:start;">
                <li>{{this.name}}</li>
                <br />
                <em>Capacity: {{this.capacity}}</em>
                <br />
                <em>Manager: {{this.manager}}</em>
            </div>
        {{/each}}
    </div>
</div>
